body{
  background-image: url("showcase.jpg"); 
  height: 900px; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}

	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	color:#ffcc66;
	min-height:20px;
}

#navbar{
	background-color:#2a2a3c;
	color:#foffff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	font-size: 15px;
	display:inline;
}

#navbar a{
	color:#ffcc66;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#showcase{
	background-position:center ;
	min-height:100px;
	margin-bottom:30px;
	text-align: center;
}

#showcase h1{
	color:#ffcc66;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}

#main{
	background-color:#2a2a3c;
	color:#ffcc66;
	float:left;
	width:50%;
	padding:0 30px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background: #2a2a3c;
	color:#ffcc66;
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	background: #2a2a3c;
	color:#ffcc66;
	text-align: center;
	padding:10px;
	margin-top:650px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}